/* Importa a fonte Saira Stencil One do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Define a fonte padrão */
    background-color: #000000;
    /* Cor de fundo da página */
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Centraliza os itens verticalmente */
    height: 100vh;
    /* Preenche a altura total da viewport */
    margin: 0;
    /* Remove a margem padrão */
    padding: 0;
    /* Remove o padding padrão */
    color: #FFFFFF;
    font-size: 1rem;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 4.0rem;
    /* Tamanho da fonte */
    color: #ffffff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    letter-spacing: 0.4rem;
    /* Espaçamento entre letras */
}

h2 {
    font-size: 2rem;
    color: #ffffff;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
}

/* Estiliza as seções da página */
section {
    display: flex;
    /* Usa Flexbox para layout */
    flex-direction: column;
    /* Alinha os itens na vertical */
    align-items: left;
    /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem;
    /* Espaçamento abaixo de cada seção */
}

/* Estilizando o formulário */
form {
    margin: 20px;
}

/* Estilo para o container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    width: 400px;
    /* Ajuste a largura conforme necessário */
}

/* Estilo para a label que serve como botão */
.dropdown-label {
    display: block;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

/* Estilo para o menu suspenso */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* Posiciona o menu abaixo da label */
    left: 0;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
}

/* Estilo para os itens do menu suspenso */
.dropdown-menu li {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    list-style: decimal;
    border-radius: 1.5rem;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
    padding: 1rem;
}

/* Mostra o menu quando a classe 'show' é adicionada */
.dropdown-menu.show {
    display: block;
}

/* Estiliza o rodapé da página */
footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F7F8;
    /* Cor de fundo do rodapé */
    color: #45474B;
    /* Cor do texto */
    text-align: center;
    /* Alinha o texto ao centro */
    padding: 0;
    /* Espaçamento interno */
    width: 100%;
    /* Largura total da página */
    position: absolute;
    /* Posiciona o rodapé */
    bottom: 0;
    /* Alinha ao fundo da página */
    font-size: 0.7rem;
    /* Tamanho da fonte */
}